@import "../../variables.scss";

.submitBtnPrimaryContainer {
  margin: 0 auto;
  width: 6rem;
}

.submitBtnPrimary {
  margin-top: 3rem;
  width: 100%;
  border: 0.1rem solid $color-grey-light;
  border-radius: 50rem;
  background-color: #ffffff;
  color: $color-grey-light;
  box-shadow: 0 0.2rem 0.3rem rgba($color-black, 0.2);

  &:hover {
    color: white;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-rosa-light, 1),
      rgba($color-purple-light, 1)
    );
    border: none;
    height: 1.8rem;
    box-shadow: 0 0.4rem 0.6rem rgba($color-black, 0.2);
  }

  &:active {
    outline: none;
    transform: translateY(0.1rem);
    box-shadow: 0 0.2rem 0.3rem rgba($color-black, 0.2);
  }

  &:focus {
    outline: none;
  }
}
