@import "../../variables.scss";

.inputContainerCalc {
  margin: 0 auto;
  text-align: center;
  width: 45%;

  .inputCalc {
    height: 2rem;
    width: 100%;
    color: $color-grey-light;

    border: none;
    border-bottom: 0.1rem solid $color-grey-light;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:hover {
      border-bottom: 0.1rem solid;
      border-image: linear-gradient(
          to right,
          $color-rosa-light 0%,
          $color-purple-light 100%
        )
        1;
    }

    &:focus {
      outline: none;
      border-bottom: 0.1rem solid;
      border-image: linear-gradient(
          to right,
          $color-rosa-light 0%,
          $color-purple-light 100%
        )
        1;
    }
  }
}

@media screen and (max-width: 550px) {
  .inputContainerCalc {
    margin: 0 auto;
    text-align: center;
    width: $container-width;

    .inputCalc {
      height: 2rem;
      width: 70%;
      color: $color-grey-light;

      border: none;
      border-bottom: 0.1rem solid $color-grey-light;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &:hover {
        border-bottom: 0.1rem solid;
        border-image: linear-gradient(
            to right,
            $color-rosa-light 0%,
            $color-purple-light 100%
          )
          1;
      }

      &:focus {
        outline: none;
        border-bottom: 0.1rem solid;
        border-image: linear-gradient(
            to right,
            $color-rosa-light 0%,
            $color-purple-light 100%
          )
          1;
      }
    }
  }
}

.inputContainerSettings {
  margin: 0 auto;
  text-align: center;
  width: 80%;

  .inputSettings {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.15rem;
    color: $color-grey-light;

    border: none;
    border-bottom: 0.1rem solid $color-grey-light;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:hover {
      border-bottom: 0.1rem solid;
      border-image: linear-gradient(
          to right,
          $color-rosa-light 0%,
          $color-purple-light 100%
        )
        1;
    }

    &:focus {
      outline: none;
      border-bottom: 0.1rem solid;
      border-image: linear-gradient(
          to right,
          $color-rosa-light 0%,
          $color-purple-light 100%
        )
        1;
    }
  }
}
