@import "../../variables.scss";

.menuBar {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-top-left, 1),
    rgba($color-bottom-right, 1)
  );
  position: relative;
  width: 100%;
  height: 15vh;
  text-align: center;
  top: 79.6vh;

  .allBtns {
    position: relative;
    margin: 0;
    top: 7%;
    bottom: 7%;

    div {
      display: inline-block;

      .icon-link {
        position: relative;
        color: white;
      }
    }
  }
}
