@import "../../variables.scss";

.menuBar {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-rosa-light, 1),
    rgba($color-purple-light, 1)
  );
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  height: 15vh;
  text-align: center;
  bottom: 0;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  .icon {
    font-size: 2.5rem;
    position: relative;
    color: white;

    &:hover {
      transform: scale(1.25);
    }
  }
}
