@import "./variables.scss";

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  font-size: $font-size-default;
}

body {
  margin: 0;
  height: 100%;
  color: $color-grey-light;
}

:global {
  #container {
    padding-top: 8%;
    height: 100%;
  }
}
