@import "./variables.scss";

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  font-size: $font-size-medium;
}

body {
  margin: 0;
  color: $color-grey-light;
}

:global {
  @media screen and (max-height: 550px) {
    *,
    *::before,
    *::after {
      font-size: $font-size-small;
    }
  }

  #container {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
