// COLORS:

$color-rosa-light: rgb(232, 169, 229);
$color-purple-light: rgb(133, 0, 127);
$color-grey-light: rgb(122, 117, 117);

// FONT
$font-size-default: 1.2rem;

// GRID:
$grid-width: 70rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 5rem;
