// COLORS:

$color-top-left: #e8a9e5;
$color-bottom-right: #85007f;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;

$color-black: #000;

// FONT
$font-size-default: 1.2rem;

// GRID:
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;

$icon-translate: -2rem;
