// COLORS:

$color-rosa-light: rgb(232, 169, 229);
$color-purple-light: rgb(133, 0, 127);
$color-grey-light: rgb(122, 117, 117);

// FONT
$font-size-small: 1.1rem;
$font-size-medium: 1.3rem;
$font-size-large: 1.5rem;
$font-size-icon: 2.5rem;
