@import "../../variables.scss";

.equalsContainer {
  text-align: center;
  margin: 0;

  .equalsIcon {
    font-size: 1.5rem;
    color: rgb(122, 117, 117);
    transform: translateY($icon-translate);
  }
}
